h1{
    color:red;
}

.header{
    background-color:cadetblue;
    display:flex;
    flex-direction: column;
    justify-content: first basline;
}


.site-description{
    display: flex;
    flex-direction:column;
    justify-content: first baseline;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.footer{
    display:flex;
    flex-wrap:wrap;
    justify-content: flex end;
}

p,h2{
    text-align: center;
}